@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Yanone+Kaffeesatz:wght@200..700&display=swap");
body {
  background-image: url(/asset/media/fondo2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.caja1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(248, 243, 248);
  font-family: "Lobster Two", sans-serif;
  border-radius: 20px;
  border: 4px solid rgb(236, 6, 140);
  margin: 100px auto;
  height: 400px;
  width: 50%;
  text-align: center;
  opacity: 0.6;
  font-size: 16px;
  line-height: 19px;
  color: rgb(58, 7, 100);
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 67%;
  height: 37%;
  left: 17%;
  top: 58%;
  background: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  box-shadow: 0px 24px 32px -8px rgb(76, 55, 123, 0.88);
  border-radius: 32px;
}

button {
  padding: 10px 20px;
  margin: 3px;
  background-color: #f80aa9;
  color: rgb(250, 246, 249);
  border: none;
  border-radius: 5px;
  border-radius: 22px;
  border: 2px solid #4c045e;
  font-family: "Lobster Two", sans-serif;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: #c22bfd;
}

label {
  display: block;
  color: rgb(179, 13, 90);
}
